[add-form] {
	width: 400px;
	display: grid;
	grid-template-areas: 
		't u'
		'd d'
		'b b';
	gap: 10px;
	margin: 0 auto 1rem;
	border: var(--default-border);
	padding: 1rem;
	box-shadow: var(--default-box-shadow);
}

[add-form] .field.t { grid-area: t; }
[add-form] .field.u { grid-area: u; }
[add-form] .field.d { grid-area: d; }
[add-form] .field.b { 
	grid-area: b; 
	text-align: center;
}

[add-form] .field > label {
	display: block;
	font-weight: 500;
	font-size: 11pt;
	margin: 0 0 10px;
}
[add-form] .field > input,
[add-form] .field > textarea {
	display: block;
	width: 100%;
	padding: var(--form-control-padding);
	transition: all .2s ease;
	border-radius: var(--form-control-border-radius);
	border: var(--default-border);
}

[add-form] .field > button {
	padding: var(--form-control-padding);
	background-color: var(--button-primary-bgcolor);
	color: var(--button-primary-textcolor);
	border: none;
	border-radius: var(--form-control-border-radius);
}